* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

body {
  font-size: 0;
  background: #ffffff;
  text-align: center;
}

/* Fonts */

* {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.nav-item,
label,
input,
select,
button,
.form-validate-prompt_chrome {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* ------------- Background Assignment */

.mighty-beer_logo {
  background: url(../img/sprites_main.png);
}

[class*="feature_"] {
  background: url(../img/sprites_features.png);
}

/* ------------- Fonts */

.hero-heading {
  font-weight: 700;
}

/* ------------- The Grid */

.block,
.container,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.icon_nav-control,
.mighty-beer_logo,
.monthly_box_apparel,
.monthly_box_barware,
.monthly_box_glassware,
.monthly_box_item,
.monthly_box_more,
.nav-item,
.row,
.section,
[class*="feature_"],
[class*="g1"],
[class*="g2"],
[class*="icon"],
[class^="btn"],
input,
label [type="checkbox"],
label,
select {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* Grid Layout */
.g1  { width: 4.16666666666667%;  }
.g2  { width: 8.33333333333334%;  }
.g3  { width: 12.50000000000001%; }
.g4  { width: 16.66666666666668%; }
.g5  { width: 20.83333333333335%; }
.g6  { width: 25%;                }
.g7  { width: 29.16666666666669%; }
.g8  { width: 33.33333333333336%; }
.g9  { width: 37.50000000000003%; }
.g10 { width: 41.6666666666667%;  }
.g11 { width: 45.83333333333337%; }
.g12 { width: 50%;                }
.g13 { width: 54.16666666666671%; }
.g14 { width: 58.33333333333338%; }
.g15 { width: 62.50000000000005%; }
.g16 { width: 66.66666666666672%; }
.g17 { width: 70.83333333333339%; }
.g18 { width: 75%;                }
.g19 { width: 79.16666666666673%; }
.g20 { width: 83.3333333333334%;  }
.g21 { width: 87.50000000000007%; }
.g22 { width: 91.66666666666674%; }
.g23 { width: 95.83333333333341%; }
.g24 { width: 100%;               }

.l1  { margin-left: 4.16666666666667%;  }
.l2  { margin-left: 8.33333333333334%;  }
.l3  { margin-left: 12.50000000000001%; }
.l4  { margin-left: 16.66666666666668%; }
.l5  { margin-left: 20.83333333333335%; }
.l6  { margin-left: 25%;                }
.l7  { margin-left: 29.16666666666669%; }
.l8  { margin-left: 33.33333333333336%; }
.l9  { margin-left: 37.50000000000003%; }
.l10 { margin-left: 41.6666666666667%;  }
.l11 { margin-left: 45.83333333333337%; }
.l12 { margin-left: 50%;                }
.l13 { margin-left: 54.16666666666671%; }
.l14 { margin-left: 58.33333333333338%; }
.l15 { margin-left: 62.50000000000005%; }
.l16 { margin-left: 66.66666666666672%; }
.l17 { margin-left: 70.83333333333339%; }
.l18 { margin-left: 75%;                }
.l19 { margin-left: 79.16666666666673%; }
.l20 { margin-left: 83.3333333333334%;  }
.l21 { margin-left: 87.50000000000007%; }
.l22 { margin-left: 91.66666666666674%; }
.l23 { margin-left: 95.83333333333341%; }

.r1  { margin-right: 4.16666666666667%;  }
.r2  { margin-right: 8.33333333333334%;  }
.r3  { margin-right: 12.50000000000001%; }
.r4  { margin-right: 16.66666666666668%; }
.r5  { margin-right: 20.83333333333335%; }
.r6  { margin-right: 25%;                }
.r7  { margin-right: 29.16666666666669%; }
.r8  { margin-right: 33.33333333333336%; }
.r9  { margin-right: 37.50000000000003%; }
.r10 { margin-right: 41.6666666666667%;  }
.r11 { margin-right: 45.83333333333337%; }
.r12 { margin-right: 50%;                }
.r13 { margin-right: 54.16666666666671%; }
.r14 { margin-right: 58.33333333333338%; }
.r15 { margin-right: 62.50000000000005%; }
.r16 { margin-right: 66.66666666666672%; }
.r17 { margin-right: 70.83333333333339%; }
.r18 { margin-right: 75%;                }
.r19 { margin-right: 79.16666666666673%; }
.r20 { margin-right: 83.3333333333334%;  }
.r21 { margin-right: 87.50000000000007%; }
.r22 { margin-right: 91.66666666666674%; }
.r23 { margin-right: 95.83333333333341%; }

.right                   { text-align: right   ;                       }
.left                    { text-align: left    ;                       }
.center                  { text-align: center  ;                       }

.block,.row              { width: 100%         ;                       }

[class*="row"] + .row    { margin-top: 20px ; }
[class*="row"] + .row-xl { margin-top: 50px ; }
[class*="row"] + .row-sm { margin-top: 10px ; }

/* Column Classes */

.col1of2    { padding-right: 22px ; }
.col2of2    { padding-left: 22px  ; }

.col1of2-sm { padding-right: 5px ; }
.col2of2-sm { padding-left: 5px  ; }

.col1of3    { padding-right: 29px ; }
.col2of3    { padding-left: 15px  ; padding-right: 15px ; }
.col3of3    { padding-left: 29px  ; }

.col1of3-sm { padding-right: 15px ; }
.col2of3-sm { padding-left: 7px   ; padding-right: 7px  ; }
.col3of3-sm { padding-left: 15px  ; }

.col1of3-xl { padding-right: 50px ; }
.col2of3-xl { padding-left: 25px  ; padding-right: 25px ; }
.col3of3-xl { padding-left: 50px  ; }

.col1of4    { padding-right: 33px ; }
.col2of4    { padding-left: 11px  ; padding-right: 22px ; }
.col3of4    { padding-left: 22px  ; padding-right: 11px ; }
.col4of4    { padding-left: 33px  ; }

.col1of4-sm { padding-right: 17px ; }
.col2of4-sm { padding-left: 5px   ; padding-right: 11px ; }
.col3of4-sm { padding-left: 11px  ; padding-right: 5px  ; }
.col4of4-sm { padding-left: 17px  ; }

.col1of5    { padding-right: 24px ; }
.col2of5    { padding-left: 6px   ; padding-right: 18px ; }
.col3of5    { padding-left: 12px  ; padding-right: 12px ; }
.col4of5    { padding-left: 18px  ; padding-right: 6px  ; }
.col5of5    { padding-left: 24px  ; }

.col1of5-sm { padding-right: 12px ; }
.col2of5-sm { padding-left: 3px   ; padding-right: 9px  ; }
.col3of5-sm { padding-left: 6px   ; padding-right: 6px  ; }
.col4of5-sm { padding-left: 9px   ; padding-right: 3px  ; }
.col5of5-sm { padding-left: 12px  ; }

.app-container {
  position: relative;
  width: 100%;
  min-width: 960px;
  overflow: hidden;
}

.section {
  padding: 100px 0;
  width: 100%;
  position: relative;
}

.container {
  width: 960px;
  text-align: left;
  position: relative;
}

[class*="col"] p {
  text-align: justify;
}

/* ------------- Typography */

a {
  text-decoration: none;
  color: #28AAE1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  color: #28affa;
}

br {
  font-size: 16px;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #808080;
}

h1 {
  font-size: 46px;
  line-height: 60px;
  color: #E9940A;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  color: #727272;
  margin: 0 70px 0;
  text-align: justify;
}

h1 + h2 {
  margin-top: -10px;
}

h3 {
  margin-bottom: 10px;
  font-size: 23px;
  line-height: 36px;
  color: #6d6d6d;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 17px;
  line-height: 28px;
}

hr {
  border: none;
  border-top: 1px solid #CCCCCC;
  margin: 30px 0;
}

/* ------------- Form Elements */

.switch,
[class^="btn"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
label,
select,
textarea {
  font-size: 15px;
}

[class*="btn-"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
label,
select,
textarea {
  border-radius: 8px;
}

[class*="btn-"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
label,
select {
  height: 50px;
  line-height: 30px;
  padding: 10px;
}

label {
  color: #7f7f7f;
}

label [type="checkbox"] {
  vertical-align: middle;
  margin-right: 7px;
  margin-left: 7px;
}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
  border             : 1px solid #807F7F;
  -moz-appearance    : none;
  -webkit-appearance : none;
  -o-appearance      : none;
  -ms-appearance     : none;
}

textarea {
  padding: 10px;
  min-height: 100px;
}

select {
  -webkit-appearance: menulist-button;
  color: #828282;
}

.form-row {
  margin-bottom: 10px;
}

.section.join input[type="date"],
.section.join input[type="email"],
.section.join input[type="password"],
.section.join input[type="tel"],
.section.join input[type="text"],
.section.join textarea {
  border: none;
}

.section.join label {
  color: #fff;
}

/* ------- Form Validate */

.form-validate-group {
  position: relative;
}

.form-validate-container {
  width: 430px;
  margin: auto;
}

.form-validate-prompt {
  position: absolute;
  left: -10000;
  z-index: 1;
}

.form-validate-prompt._animated-in {
  position: absolute;
  left: 0;
}

.form-validate-prompt,
.form-validate-prompt_chrome {
  width: 100%;
  padding: 0 10px;
}

.form-validate-prompt_chrome {
  padding: 10px;
  border-radius: 0 0 8px 8px;
  font-size: 13px;
  line-height: 12px;
  color: #F8D9A6;
  opacity: 0;
  background: #6A532F;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-validate-prompt._animated-in .form-validate-prompt_chrome {
  opacity: 1;
}

/* -------- Buttons */

[class^="btn"]:hover,
[class^="btn"] {
  text-decoration: none;
}

[class^="btn"] {
  padding: 0 17px 0;
  text-align: center;
  line-height: 36px;
  color: #28AAE1;
  background: #fff;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: #f4f4f4;
}

.btn._large {
  height: 60px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 60px;
}

.btn._primary {
  background: #E9940A;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
}

[class^="btn-"] + [class^="btn-"] {
  margin-left: 10px;
}

.section.join [class*="btn"],
.section.join [class*="btn"]:hover {
  color: #fff;
}

.section.join [class*="btn"] {
  background: none;
  border: 1px solid #fff;
}

/* Full screen background */

.fs_background {
  /* Set rules to fill background */
  min-width: 1224px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Logo */

.mighty-beer_logo {
  width: 307px;
  height: 297px;
}

/* Nav */
@-webkit-keyframes nav_in {0% {top: -80px; opacity: 0; } 100% {top: 0px; opacity: 1; } }
@-moz-keyframes nav_in {0% {top: -80px; opacity: 0; } 100% {top: 0px; opacity: 1; } }
@-ms-keyframes nav_in {0% {top: -80px; opacity: 0; } 100% {top: 0px; opacity: 1; } }
@keyframes nav_in {0% {top: -80px; opacity: 0; } 100% {top: 0px; opacity: 1; } }

@-webkit-keyframes nav_out {
  100% {top: -80px; opacity: 0; } 
  0% {top: 0px; opacity: 1; } 
}

.nav {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  z-index: 999;
  top: 0;
  position: absolute;
}

.nav-item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 60px;
  color: #fff;
  padding: 0 20px;
}

.nav-item:hover {
  background: url(../img/sprites_black-50.png);
  color: #fff;
}

.nav-item + .nav-item {
  margin-left: 10px;
}

/* ------- Section Headings */

.section.perks h1 {
  color: #E9940A;
}

.section.beers2peers h2,
.section.beers2peers h1,
.section.monthly h1,
.section.join h1,
.section.monthly h2 {
  color: #fff;
}

/* ------- Section Backgrounds */

.section.monthly,
.section.join {
  background-color: #E9940A;
}

.section.beers2peers {
  background-color: #62AEEE;
}

.bg_orange,
.bg_orange-bubbles,
.bg_blue,
.bg_blue-bubbles {
  position: absolute;
  left: 50%;
  background: url(../img/sprites_bg.png);
}

.bg_orange,
.bg_blue {
  top: 0;
  width: 1054px;
  height: 579px;
  margin-left: -527px;
}

.bg_orange-bubbles,
.bg_blue-bubbles {
  width: 840px;
  height: 447px;
  margin-left: -420px;
}

.bg_blue {
  background-position: -1054px 0;
}

.bg_orange-bubbles {
  bottom: 0;
  background-position: 0 -579px;
}

.bg_blue-bubbles {
  top: 0;
  background-position: -840px -579px;
}

/* Hero */

.section.hero {
  text-align: center;
  padding: 90px 0 70px;
  overflow: hidden;
}

.section.hero .container {
  text-align: center;
}

.hero-heading,
.hero-subheading {
  color: #fff;
}

.hero-heading {
  font-size: 46px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-subheading {
  line-height: 30px;
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
}

.attribution,
.attribution * {
  color: #fff;
  color: rgba(255,255,255,0.5);
}

.attribution {
  position: absolute;
  right: 15px;
  top: 10px;
  line-height: 20px;
  font-size: 10px;
}

/* ------- Montly */

.feature_monthly {
  margin: auto;
  display: block;
  margin-bottom: 20px;
  width: 231px;
  height: 225px;
  background-position: 0 -388px;
}

.monthly_box_contents {
  width: 760px;
  margin: auto;
}

.monthly_box_item {
  width: 25%;
  text-align: center;
}

.monthly_box_item h3 {
  font-weight: 700;
  color: #fff;
}

.monthly_box_apparel,
.monthly_box_glassware,
.monthly_box_barware,
.monthly_box_more {
  width: 130px;
  height: 130px;
  background: url(../img/sprites_box_contents.png);
}

.monthly_box_glassware { background-position: -130px 0; }

.monthly_box_barware { background-position: -260px 0; }

.monthly_box_more { background-position: -390px 0; }

.section.monthly hr {
  width: 188px;
  border-color: #fff;
  margin: 50px auto;
}

/* ------- Gatherings */

.feature_invitation {
  margin: 50px auto 0;
  display: block;
  width: 515px;
  height: 297px;
  background-position: -232px -388px;
}

/* ------- Beers2Peers */

.feature_beers2peers {
  display: block;
  margin: 0 auto 50px;
  width: 454px;
  height: 273px;
  background-position: -750px 0;
}

/* ------- Brewsletter */

.section.brewsletter {
  padding-top: 350px;
}

.feature_brewsletter {
  width: 760px;
  height: 388px;
  left: 50%;
  top: 0;
  margin-left: -380px;
  position: absolute;
}

/* ------ Footer */

.footer {
  background: #281F11;
}

.footer p,
.footer .attribution {
  color: #6A532F;
}

.footer p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 16px;
}

.footer .attribution {
  position: static;
  font-size: 12px;
}

.footer .attribution a {
  color: #B87C1F;
}

/* Desktop Only Nan Transition */

@media screen and (min-width: 480px) {
  .nav-container {
    min-width: 960px;
  }

  .nav._animated-in,
  .nav._animated-out {
    position: fixed;
  }

  .nav._animated-in {
    min-width: 960px;
    -webkit-animation: nav_in 0.3s;
    -moz-animation: nav_in 0.3s;
    -ms-animation: nav_in 0.3s;
    animation: nav_in 0.3s;
  }

  .nav._animated-out {
    -webkit-animation: nav_out 0.3s;
    -moz-animation: nav_out 0.3s;
    -ms-animation: nav_out 0.3s;
    animation: nav_out 0.3s;
  }

  .nav-bg {
    position: absolute;
    height: 60px;
    width: 100%;
    z-index: -1;
    top: -60px;
    overflow: hidden;
    background: url(../img/sprites_black-70.png);
  }

  .nav._animated-in .nav-bg {
    top: 0;
  }
}

/* Mobile */

@media screen and (max-width: 480px) {

  .main {
    overflow: hidden;
    width: 100%;
  }

  /* Mobile Layout */
  .m1  { width: 4.16666666666667%;  }
  .m2  { width: 8.33333333333334%;  }
  .m3  { width: 12.50000000000001%; }
  .m4  { width: 16.66666666666668%; }
  .m5  { width: 20.83333333333335%; }
  .m6  { width: 25%;                }
  .m7  { width: 29.16666666666669%; }
  .m8  { width: 33.33333333333336%; }
  .m9  { width: 37.50000000000003%; }
  .m10 { width: 41.6666666666667%;  }
  .m11 { width: 45.83333333333337%; }
  .m12 { width: 50%;                }
  .m13 { width: 54.16666666666671%; }
  .m14 { width: 58.33333333333338%; }
  .m15 { width: 62.50000000000005%; }
  .m16 { width: 66.66666666666672%; }
  .m17 { width: 70.83333333333339%; }
  .m18 { width: 75%;                }
  .m19 { width: 79.16666666666673%; }
  .m20 { width: 83.3333333333334%;  }
  .m21 { width: 87.50000000000007%; }
  .m22 { width: 91.66666666666674%; }
  .m23 { width: 95.83333333333341%; }
  .m24 { width: 100%;               }

  .ml0  { margin-left: 0; }
  .ml1  { margin-left: 4.16666666666667%;  }
  .ml2  { margin-left: 8.33333333333334%;  }
  .ml3  { margin-left: 12.50000000000001%; }
  .ml4  { margin-left: 16.66666666666668%; }
  .ml5  { margin-left: 20.83333333333335%; }
  .ml6  { margin-left: 25%;                }
  .ml7  { margin-left: 29.16666666666669%; }
  .ml8  { margin-left: 33.33333333333336%; }
  .ml9  { margin-left: 37.50000000000003%; }
  .ml10 { margin-left: 41.6666666666667%;  }
  .ml11 { margin-left: 45.83333333333337%; }
  .m1l2 { margin-left: 50%;                }
  .m1l3 { margin-left: 54.16666666666671%; }
  .m1l4 { margin-left: 58.33333333333338%; }
  .m1l5 { margin-left: 62.50000000000005%; }
  .ml16 { margin-left: 66.66666666666672%; }
  .ml17 { margin-left: 70.83333333333339%; }
  .ml18 { margin-left: 75%;                }
  .ml19 { margin-left: 79.16666666666673%; }
  .ml20 { margin-left: 83.3333333333334%;  }
  .ml21 { margin-left: 87.50000000000007%; }
  .ml22 { margin-left: 91.66666666666674%; }
  .ml23 { margin-left: 95.83333333333341%; }
  .ml24 { margin-left: 100%;               }


  .container {
    width: 100%;
    padding: 0 20px;
  }

  .is-desktop {
    display: none;
  }

  [class*="m1"],
  [class*="m2"],
  .m3,
  .m4,
  .m5,
  .m6,
  .m7,
  .m8,
  .m9,
  .is-mobile {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  .section {
    padding: 60px 0;
    width: 100%;
  }

  .m24[class*="col"] {
    padding-left: 0;
    padding-right: 0;
  }

  .m24[class*="l1"],
  .m24[class*="l2"],
  .m24.l2,
  .m24.l3,
  .m24.l4,
  .m24.l5,
  .m24.l6,
  .m24.l7,
  .m24.l8 {
    margin-left: 0;
  }

  [class*="row"]+.mrow {
    margin-top: 20px;
  }

  [class*="row"]+.row-xl,
  [class*="row"]+.mrow-xl {
    margin-top: 50px;
  }

  .mcenter { text-align: center; }

  .mblock,.mrow { width: 100%; }

  .mcol1of5 { padding-right: 35px ;                       }
  .mcol2of5 { padding-left: 9px   ; padding-right: 26px ; }
  .mcol3of5 { padding-left: 18px  ; padding-right: 18px ; }
  .mcol4of5 { padding-right: 9px  ; padding-left: 26px  ; }
  .mcol5of5 { padding-left: 35px  ;                       }

  .mcol1of5-sm { padding-right: 18px ;                       }
  .mcol2of5-sm { padding-left: 4px   ; padding-right: 13px ; }
  .mcol3of5-sm { padding-left: 9px   ; padding-right: 9px  ; }
  .mcol4of5-sm { padding-right: 4px  ; padding-left: 13px  ; }
  .mcol5of5-sm { padding-left: 18px  ;                       }

  .mcol1of4 { padding-right: 33px ;                       }
  .mcol2of4 { padding-left: 11px  ; padding-right: 22px ; }
  .mcol3of4 { padding-left: 22px  ; padding-right: 11px ; }
  .mcol4of4 { padding-left: 33px  ;                       }

  .mcol1of4-sm { padding-right: 17px ;                       }
  .mcol2of4-sm { padding-left: 5px   ; padding-right: 11px ; }
  .mcol3of4-sm { padding-left: 11px  ; padding-right: 5px  ; }
  .mcol4of4-sm { padding-left: 17px  ;                       }

  .mcol1of3 { padding-right: 29px ;                       }
  .mcol2of3 { padding-left: 15px  ; padding-right: 15px ; }
  .mcol3of3 { padding-left: 29px  ;                       }

  .mcol1of3-sm { padding-right: 15px ;                       }
  .mcol2of3-sm { padding-left: 7px   ; padding-right: 7px ;  }
  .mcol3of3-sm { padding-left: 15px  ;                       }

  .mcol1of3-xl { padding-right: 50px ;                       }
  .mcol2of3-xl { padding-left: 25px  ; padding-right: 25px ; }
  .mcol3of3-xl { padding-left: 50px  ;                       }

  .mcol1of2,.mcol1of2 { padding-right: 22px ; padding-left: 0;}
  .mcol2of2,.mcol2of2 { padding-left: 22px  ; padding-right: 0;}

  .mcol1of2-sm { padding-right: 11px ; padding-left: 0;}
  .mcol2of2-sm { padding-left: 11px  ; padding-right: 0;}

  /* ------- Images */

  [class*="feature_"] {
    background: url(../img/sprites_features_mobile.png);
  }

  /* ------- Typography */

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
    line-height: 36px;
  }

  h2 {
    margin: 0 10px 0;
    font-size: 18px;
    line-height: 28px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  /* ------- Forms */

  [class*="btn-"], input[type="date"], input[type="email"], input[type="password"], input[type="tel"], input[type="text"], label, select {
    height: 40px;
    line-height: 20px;
    padding: 10px;
  }

  .btn._large {
    line-height: 50px;
    height: 50px;
    font-size: 18px;
  }

  /* ------- Sections */

  .section.hero {
    padding: 30px 0 50px;
  }

  .section.beers2peers {
    overflow: hidden;
  }

  /* ------- Mobile Status bar */

  .mighty-beer_logo {
    background: url(../img/sprites_main_mobile.png);
    width: 168px;
    height: 158px;
  }

  .hero-heading {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 34px;
  }

  .hero-subheading {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 26px;
  }

  /* ------- App Container */

  .app-container {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .main {
    width: 100%;
    -webkit-transition: margin-left 0.3s;
    -moz-transition: margin-left 0.3s;
    -ms-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
  }

  .app-container._animated-in .main {
    margin-left: 50%;
  }


  /* ------- Nav */

  .nav,
  .nav-control {
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
  }

  .nav-control {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: rgba(0,0,0,0);
  }

  .icon_nav-control {
    width: 44px;
    height: 44px;
    background: url(../img/sprites_nav.png);
  }

  .nav-control.setNav_white .icon_nav-control {
    background-position: 0 -44px;
  }

  .nav {
    width: 50%;
    position: fixed;
    height: 100%;
    left: -50%;
    background: #2D2314;
  }

  .nav-item {
    font-size: 13px;
    width: 100%;
    line-height: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .app-container._animated-in .nav {
    left: 0;
  }

  .app-container._animated-in .nav-control {
    left: 50%;
  }

  /* ------- Monthly Deliveries */

  .feature_monthly {
    background-position: 0 -163px;
    width: 210px;
    height: 205px;
  }

  .monthly_box_contents {
    width: 100%;
  }

  .monthly_box_item {
    width: 50%;
  }
  
  .monthly_box_item:nth-child(n+3) {
    margin-top: 10px;
  }

  .monthly_box_apparel,
  .monthly_box_glassware,
  .monthly_box_barware,
  .monthly_box_more {
    width: 104px;
    height: 104px;
    background: url(../img/sprites_box_contents_mobile.png);
  }

  .monthly_box_glassware {
    background-position: -104px 0;
  }

  .monthly_box_barware {
    background-position: -208px 0;
  }

  .monthly_box_more {
    background-position: -312px 0;
  }

  .section.monthly hr {
    margin: 30px auto;
  }

  /* ------- Invitations */

  .feature_invitation {
    background-position: -210px -163px;
    width: 280px;
    height: 162px; 
  }

  /* ------- Beers2Peers */

  .feature_beers2peers {
    width: 265px;
    height: 159px;
    background-position: -316px 0;
  }

  /* ------- Brewsletter */

  .section.brewsletter {
    padding-top: 163px;
  }

  .feature_brewsletter {
    width: 316px;
    height: 163px;
    margin-left: -158px;
  }

  /* ------- Form validate */

  .form-validate-container {
    width: 100%;
  }

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .fs_background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media screen and (min-width: 1280px) {
  .nav-bg {
    height: 80px;
    top: -80px;
  }

  .nav-item {
    line-height: 80px;
    padding: 0 30px;
  }

  .container {
    width: 1080px;
  }

  .form-validate-container {
    width: 600px;
  }
}

@media screen and (min-width: 1600px) {
  .fs_background {
    margin-top: -300px;
  }
}

/* Retina Image Assignment */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mighty-beer_logo {
    background-image: url(../img/sprites_main_mobile_retina.png);
    background-size: 168px 158px;
  }
  [class*="feature_"] {
    background-image: url(../img/sprites_features_mobile_retina.png);
    background-size: 581px 368px;
  }
  .monthly_box_apparel,
  .monthly_box_glassware,
  .monthly_box_barware,
  .monthly_box_more {
    background-image: url(../img/sprites_box_contents_mobile_retina.png);
    background-size: 416px 104px;
  }
}